/* navbar content */
#nav-top {
    padding: 0 7%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: rgb(255 255 255);
}

#logo-img {
    width: 140px;
    height: 36px;
}

#nav-links {
    font-size: 1.1rem;
    font-weight:500;
    padding-left: 15px;
}

#searchbox {
border: 0;
border-radius: 0;
background-color: rgb(255,200,1);
position: relative;
left: 48px;
} 

#searchbox::placeholder {
color: white;
}

#buttonbox {
    border: 0;
    border-radius: 0;
    background-color: rgb(0,191,204);
    color: white;
    position: relative;
    z-index: 99%;
}

#navbarSupportedContent {
    margin-left: 30px;
}

@media only screen and (max-width:990px) {
    #nav-searchbar {
        position: relative;
        right:30px;
        padding-bottom: 10px;
        }
}

/* first content */
#firstcontent {
    background-color: rgb(255,200,1);
    color: white;
}

#dogimg {
    width: 290px;
   padding-top: 20px;
   text-align: center;
}

#heading-text {
padding-top: 70px;
line-height: 60px;
font-size: 3.6rem;
}

#paragraph-text {
padding-top: 10px;
font-size: 1.3rem;
}

#contact-btn {
background-color: rgb(0,191,204);
border: 2px solid rgb(0,191,204);
border-radius: 4px;
color: white;
font-weight:500;
}

#service-btn {
margin-left: 10px;
border: 1.5px solid rgb(255, 255, 255);
border-radius: 6px;
color: white;
font-weight:500;
}

@media only screen and (max-width:1024px) {
    #heading-text {
        font-size: 3.4rem;
        }  
    #paragraph-text {
        padding-bottom: 15px;
    }
}

@media only screen and (max-width:820px) {
    #heading-text {
        font-size: 2.7rem;
        line-height: 50px;
        }  
    #paragraph-text {
        padding-bottom: 10px;
    }
}

@media only screen and (max-width:768px) {
    #heading-text {
        font-size: 2.5rem;
        line-height: 50px;
        }  
    #paragraph-text {
        padding-bottom: 10px;
    }
    
}

@media only screen and (max-width:412px) {
    #heading-text {
        padding-top: 40px;
        }  
    #firstcontent {
        padding-bottom: 25px;
    }
   
}

@media only screen and (max-width:414px) {
    #heading-text {
        padding-top: 30px;
        }  
    #firstcontent {
        padding-bottom: 25px;
    }  
}

@media only screen and (max-width:430px) {
    #heading-text {
        padding-top: 30px;
        }  
    #firstcontent {
        padding-bottom: 25px;
    }  
}

@media only screen and (max-width:390px) {
    #heading-text {
        padding-top: 40px;
        font-size: 2.3rem;
        } 
}

/* 2nd Content */
#service-btn2 {
    background-color: rgb(255,200,1);
    border: 2px solid rgb(255,200,1);
    border-radius: 4px;
    color: white;
    font-weight:500;  
}

#image1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 400px;
}

#second-content {
    margin-top: 55px;
}

#second-text {
    padding-top: 70px;
    line-height: 60px;
    font-size: 3.1rem;
}

#paragraph-text {
    padding-top: 10px;
    font-size: 1.3rem;
}

@media only screen and (max-width:390px) {
    #second-text {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 2.4rem;
        line-height: 44px;
    } 
    #image1 {
        padding-top: 60px;
        padding-bottom: 40px;
        width: 300px;
    }
    }

    @media only screen and (max-width:414px) {
        #second-text {
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 2.4rem;
            line-height: 44px;
        } 
        #image1 {
            padding-top: 60px;
            padding-bottom: 40px;
            width: 300px;
        }
        }

        @media only screen and (max-width:430px) {
            #second-text {
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 2.4rem;
                line-height: 44px;
            } 
            #image1 {
                padding-top: 60px;
                padding-bottom: 40px;
                width: 300px;
            }
            }

            @media only screen and (max-width:768px) {
                #second-text {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-size: 2rem;
                    line-height: 44px;
                } 
                #image1 {
                    padding-top: 60px;
                    padding-bottom: 40px;
                    width: 300px;
                }
                }
                /* 4th  -content */

                #titleheading {
                    padding-top: 50px;
                    font-weight: bold;
                }

                #titlepara {
                    font-size: 1.3rem;
                    line-height: 27px;
                }

                #blog {
                    padding-top: 30px;
                    padding-bottom: 40px;
                }

                #blog-content {
                   border: 1px solid rgb(156, 156, 156);
                   border-top: 0;
                   padding-left: 15px;

                }

                #blogimg {
                    width: 289px;
                }

                #blogheading {
                padding-top: 20px;
                font-size: 1.5rem;
                font-weight: bold;  
                }

                 #blogdate {
                color:rgb(0,191,204);
                font-size: 0.9rem;
                font-weight: bold;
                 }

                #blogpara {
                margin-top: 0px;
                font-size: 0.8rem;
                font-weight: 500;
                line-height: 17px;
                }

                #blog-link {
                font-size: 0.9rem;
                font-weight: 500;
                text-decoration: none;
                color:rgb(0,191,204);
                position: relative;
                top: -10px;
                }

                #thirdimg {
                    background-image: url(image2.png);
                    height: 300px;
                    background-size: cover;
                    color: white;
                }

                #thirdimg i {
                    font-size: 47px;
                }

                #number {
                    font-size: 1.2rem;
                }
                #ans {
                    font-weight: 600;
                    font-size: 25px;
                }
                
                #info {
                padding-top: 65px;
                }


